# Pasta de dados
# dados/
# parquet/
# ou, se "dados\parquet" é o caminho, use só a pasta de cima
dados/
models/

# Arquivo PDF
case_cientista_de_dados_datamaster.pdf

# Arquivos temporários comuns
*.log
*.tmp
.ipynb_checkpoints/
__pycache__/
*.pyc
*.zip